@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1750px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text {
    &-clamp {
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
    }

    &-first-letter {
      &::first-letter {
        text-transform: uppercase
      }
    }
}


@import './_media.scss';
