@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3 {
    @apply font-bold font-headline text-dark-light tracking-[0.01em];
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }
}

@layer utilities {
  .text-clamp {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }

  .text--first-letter::first-letter {
    text-transform: uppercase
  }
}

@layer components {
  .base-text {
    @apply font-text text-dark-light tracking-wide;
  }
}

html,body, #__nuxt {
  @apply h-full;
}

body {
  @apply bg-dark;
}

.wrapper {
  @apply flex flex-col h-full;
}

.container {
  @apply mx-auto px-4 max-w-[1750px];
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

