@import './_reset.scss';
@import './_vars.scss';

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $secondaryDarkColor;
}

a {
    text-decoration: none;
}

.wrapper {
    position: relative;
}

.container {
    max-width: 1714px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.headline {

    &-xl {
        @include headlineMixin('Rubick', 72px, 85px, 700);
    }

    &-lg {
        @include headlineMixin('Rubick', 32px, 38px);
    }

    &-md {
        @include headlineMixin('Rubick', 24px, 28px);
    }

    &-sm {
        @include headlineMixin('Roboto', 20px, 24px, 400);
        letter-spacing: 0.01em;
    }
}

.text {
    &-md {
        @include textMixin(16px, 0.015em);

        &--blur {
            opacity: .5;
        }
    }

    &-sm {
        @include textMixin(12px, 0.02em);
    }
}

.flex {
    display: flex;

    &-justify-center {
        justify-content: center;
    }

    &-justify-between {
        justify-content: space-between;
    }

    &-align-center {
        align-items: center;
    }

    &-content-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-gap {
        @for $i from 1 through 5 {
            &-#{$i} {
                gap: 4px * $i;
            }
        }
    }
}




@import './_media.scss';