$primaryColor: #A189FF;
$primaryLinearColor: linear-gradient(90deg, #5E36FF 20.69%, #C74FFF 100%);;


$secondaryDarkColor: #222222;
$secondaryLightColor: #444444;
$secondaryLightGrayColor: #9E9E9E;
$secondaryGreenColor: #76D200;


@mixin textMixin($fz, $lSpace) {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 24px;
    font-weight: 400;
    font-size: $fz;
    color: #fff;
}



@mixin headlineMixin($ff, $fz, $lh, $fw: 600) {
    font-family: $ff;
    font-style: normal;
    color: #fff;
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
}